<body class="text-center">
    <main class="form-signin">
      <h1 class="h3 mb-3 fw-normal">Parcial Ezequiel Archilla</h1>
  
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          [(ngModel)]="this.usuario.email"
        />
        <label for="floatingInput">Email</label>
      </div>
  
      <div style="display:flex">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.usuario.name"
        />
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.usuario.lastName"
        />
        <label for="floatingInput">Apellido</label>
      </div>
    </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="this.password"
        />
        <label for="floatingPassword">Contraseña</label>
      </div>

      <select class="form-floating">
        <option value="Empleado">Empleado</option>
        <option value="Administrador">Administrador</option>
    </select>
  
      <button class="w-100 btn btn-lg btn-primary" (click)="signUp()">
        Registrar
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; Ezequiel Archilla 2022</p>
    </main>
  </body>
  