<body class="text-center">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Parcial Ezequiel Archilla</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="this.usuario.email"> 
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="this.password">
          <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="w-100 mb-4 btn btn-lg btn-primary" (click)="logIn()">Ingreso</button>
        <button class="w-100 mb-2 btn btn-lg btn-primary" (click)="fastLogIn('empleado')">Ingreso Rapido Empleado</button>
        <button class="w-100 mb-4 btn btn-lg btn-primary" (click)="fastLogIn('admin')">Ingreso Rapido Admin</button>
        <a routerLink="/registro">Registrarse</a>
        
        <p class="mt-5 mb-3 text-muted">&copy; Ezequiel Archilla 2022</p>

    </main>        
</body>